@model IEnumerable<Smartstore.CustomDashboard.Components.PaymentMethodStat>

<div class="report">
    <div class="report-title-row">
        <div class="report-title">@T("Plugins.CustomDashboard.Dashboard.PaymentMethods")</div>
    </div>

    <div class="report-body">
        <div class="table-responsive table-dashboard">
            <table class="table table-3 small table-hover table-prevent-overflow">
                <thead>
                    <tr>
                        <th class="display-row">@T("Plugins.CustomDashboard.Dashboard.Payments")</th>
                        <th class="display-row text-center">@T("Plugins.CustomDashboard.Admin.Dashboard.Count")</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var stat in Model)
                    {
                        <tr>
                            <td class="display-row" title="@stat.MethodSystemName">
                                @T($"Plugins.FriendlyName.{stat.MethodSystemName}")
                            </td>
                            <td class="display-row text-center" title="@stat.Count">
                                @stat.Count
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>